.container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(33, 32, 32);
    color: white;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .lists {
    display: flex;
    align-items: center;
    gap: 80px;
    list-style: none;
    flex-wrap: wrap;
  }
  
  .list {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-decoration: none;
  }
  
  .elements {
    color: white;
  }
  