.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  top: 0;
  position: sticky;
  height: 130px;
}

.sugarLogo {
  /* width: 18vw; */
  height: 60px;
  width: 100px;
}

.lists {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-right: 150px;
}

.list {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.elements {
  color: white;
  list-style: none;
  text-decoration: none;
}

.icons {
  margin-right: 50px;
}

.icon {
  margin-left: 25px;
  height: 26px;
  width: 26px;
  cursor: pointer;
  color: white;
}

.searchField{
  width: 250px;
  height: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchContainer .searchBtn{
  height: 42px;
  width: 30px;
  background-color: #fefefe;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 5px;
}

.menuBar{
  font-size: 25px;
  cursor: pointer;
}

input[type=text] {
  padding: 6px;
  /* margin-top: 8px; */
  font-size: 17px;
  border: none;
  margin-left: -80px;
}


.searchContainer button {
  background-color: #e1e1e1;
  border: none;
  height: 33px;
  width: 35px;
}

.searchContainer button:hover {
  background: #ccc;
  transition: 0.5s all ease;
}

@media only screen and (max-width: 1000px) {
  .lists {
    display: none;
  }

  .showBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 95%;
    height: 550px;
    right: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: #000000;
  }

  .showBar p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
  }

  .searchContainer{
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .menuBar {
    display: none;
  }

  
}