.ThisOrThat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.ThisOrThatText {
    font-family: Arial, Helvetica, sans-serif;
}

.ThisOrThatImages {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 30px;
    width: 100%;
}

.Images {
    width: 45vw;
    border-radius: 15px;
}
