body{
    background-color: aliceblue;
}

.lipsImage{
    height: 180px;
    border-radius: 20px;
    width: 160px;
    cursor: pointer;
    box-shadow:  0 2px 5px 2px rgb(0 0 0 / 0.2);
    margin-top: -20px;
}

.lipsProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: white;
    width: 300px;
    min-height: 250px;
    border-radius: 25px;
    box-shadow:  0 3px 10px rgb(0 0 0 / 0.2);
    
}

.titleImage{
    width: 100vw;
}

.productName{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 30px;
}

.lipsButton{
    width: 80%;
    height: 50px;
    font-size: 22px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    margin-bottom: 15px;
}

.lipsButton:hover{
    background-color: rgb(55, 55, 55);
}

.bookmarkSign{
    margin-right: 240px;
    margin-top: 25px;
    font-size: 30px;
    cursor: pointer;
}


.name{
    margin-left: 25px;
}