.lipsProduct {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    margin: 20px;
    width: 30vw;
    height: 100px;
}

.lipsImage {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
}

.deleteButton {
    height: 25px;
    cursor: pointer;
    width: 25px;
}

.price {
    font-size: 22px;
}

.productName {
    font-size: 22px;
}

.CartProducts {
    min-height: 50vh;
}