
#root {
    max-width: 1260px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  
  h1 {
    margin: 1rem auto 4rem;
  }
  
  .productImage {
    width: 65%;
    height: 15em;
    /* margin-top: 25px; */
    /* object-fit: cover; */
    border-radius: 25px;
  }
  

  .cards{
    /* height: 400px; */
    margin-top: 60px;
    
  }

  .heading{
    display: flex;
    align-items: center;
    
  }

  .text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(37, 21, 21, 0.2);
    margin:  3rem;
    text-align: center;
    font-family: arial;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 260px;
    height: 400px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
    
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }